* {
  font-family: "Didact Gothic", sans-serif;
  color: #575757;
}

html {
  background-color: #e9ebec;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 30px;
}

.list_container:nth-child(1) {
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 0px 40px;
}

.list__toogle {
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #babcbd;
  padding: 10px;
}
.list__toogle:hover {
  cursor: pointer;
}

.list__input,
.list__filter {
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  background-color: white;
  padding: 10px;
}

.list__filter:hover {
  cursor: pointer;
}

.list_countries {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-gap: 20px;
}

.list__country {
  min-height: 375px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  overflow: hidden;
  background-color: white;
}

.list__country__img {
  height: 180px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.list__country__img img {
  width: 100%;
  height: 100%;
}

.list__country__info {
  padding: 0px 20px;
}

.night {
  background-color: #0c151d;
}

.night * {
  color: #a3abb2;
}

.night .list__toogle {
  background-color: #3a4550;
}

.night .list__input,
.night .list__filter,
.night .list__country,
.night .list_container:nth-child(1) {
  background-color: #171f26;
}/*# sourceMappingURL=styles.css.map */