$back-col-day: #e9ebec;
$text-col-day: #575757;
$back-items-day: white;
$back-buttons-day: #babcbd;

$back-col-night: #0c151d;
$text-col-night: #a3abb2;
$back-items-night: #171f26;
$back-buttons-night: #3a4550;

$padding-items: 10px;
$border: 3px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, .25);

@mixin border-shadow {
    border-radius: $border;
    box-shadow: $box-shadow;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-gap: 20px;
}

@mixin styles-none {
    outline: none;
    border: none;
}