@import '_variables';

* {
    font-family: 'Didact Gothic', sans-serif;
    color: $text-col-day;
}

html {
    background-color: $back-col-day;
    width: 100%;
}

body {
    @include flex-center;
}

.list_container {
    @include flex-between;
    width: 80%;
    padding: 30px;
}

.list_container:nth-child(1) {
    @include border-shadow;
    background-color: $back-items-day;
    padding: 0px 40px;
}

.list__toogle {
    @include styles-none;
    @include border-shadow;
    background-color: $back-buttons-day;
    padding: $padding-items;

    &:hover {
        cursor: pointer;
    }
}

.list__input,
.list__filter {
    @include border-shadow;
    @include styles-none;
    background-color: $back-items-day;
    padding: $padding-items;
}

.list__filter:hover {
    cursor: pointer;
}

.list_countries {
    @include grid;
}

.list__country {
    min-height: 375px;
    @include border-shadow;
    width: 300px;
    overflow: hidden;
    background-color: $back-items-day;
}

.list__country__img {
    height: 180px;
    box-shadow: $box-shadow;
}

.list__country__img img {
    width: 100%;
    height: 100%;
}

.list__country__info {
    padding: 0px 20px;
}


.night {
    background-color: $back-col-night;
}

.night * {
    color: $text-col-night;
}

.night .list__toogle {
    background-color: $back-buttons-night;
}

.night .list__input,
.night .list__filter,
.night .list__country,
.night .list_container:nth-child(1) {
    background-color: $back-items-night;
}